@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/im-fell-english/files/im-fell-english-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'IM Fell English';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/im-fell-english/files/im-fell-english-latin-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/spectral/files/spectral-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/spectral/files/spectral-latin-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/spectral/files/spectral-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/spectral/files/spectral-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/spectral/files/spectral-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/inter/files/inter-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/inter/files/inter-latin-600-normal.woff2') format('woff2');
}
